@media (max-width:576px) and (orientation:portrait) {
    .cnt {
        padding: 100px 0 50px 0
    }

    .banner_vertical,
    .workflow_vertical {
        display: block
    }

    .banner_horizontal,
    .workflow_horizontal {
        display: none
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem;
        margin: 0 40px 0 30px
    }

    .link_h2 {
        font-size: 1.2rem
    }

    .sec6b {
        margin: 0
    }

    .lnk {
        margin: 5px 0 5px 0
    }
}

@media (min-width:576px) and (max-width:767.98px) and (orientation:portrait) {
    .cnt {
        padding: 100px 0 50px 0
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem
    }

    .lnk {
        margin: 5px 0 5px 0
    }
}

@media (min-width:576px) and (max-width:767.98px) and (orientation:landscape) {
    .cnt {
        padding: 100px 0 50px 0
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-top: 100px;
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-top: 100px;
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem
    }

    .link_h2 {
        font-size: 1.2rem
    }

    .lnk {
        margin: 5px 0 5px 0
    }
}

@media (min-width:768px) and (max-width:991.98px) and (orientation:portrait) {
    .cnt {
        padding: 100px 0 100px 0
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem
    }

    .card_h3 {
        font-size: 1rem !important
    }

    .card_p {
        font-size: .9rem !important
    }

    .lnk {
        margin: 5px 0 5px 0
    }
}

@media (min-width:768px) and (max-width:991.98px) and (orientation:landscape) {
    .cnt {
        padding: 100px 0 100px 0
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.4rem
    }

    .card_h3 {
        font-size: 1rem !important
    }

    .card_p {
        font-size: .9rem !important
    }

    .lnk {
        margin: 5px 0 5px 0
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .cnt {
        padding: 100px 0 100px 0
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_img {
        padding: 0 0 0 40px
    }

    .sec1_content {
        padding: 0 40px 0 0
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem
    }

    .lnk {
        margin: 4px 8px 4px 8px
    }
}

@media (min-width:1200px) {
    .cnt {
        padding: 200px 0 200px 0
    }

    .sec2_img,
    .sec3_img,
    .sec5_img {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 175px;
        width: 100%
    }

    .sec1_img,
    .sec4_img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 230px
    }

    .sec1_content,
    .sec2_content,
    .sec3_content,
    .sec4_content,
    .sec5_content {
        font-size: 1.6rem
    }

    .lnk {
        margin: 4px 8px 4px 8px
    }
}